# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Thumbs.db

# Specific files
linux-project/data/images/eagle.png
linux-project/data/images/eagle2.png
linux-project/miceamaze
linux-project/miceamaze.6.gz
linux-project/miceamaze.png
linux-project/miceamaze.xpm
project/Debug
project/Release
project/MiceAmaze
linux-project-simple-nodeps/miceamaze
linux-project-simple-nodeps/quesoglc-0.7.2
miceamaze-*.tar.gz
packaging/miceamaze*

# VI files
*~

project/rundir/MiceAmaze.exe
project/rundir/libgcc_s_dw2-1.dll
project/rundir/libstdc++-6.dll
project/miceamaze_private.h
project/miceamaze_private.rc
project/miceamaze.layout
